body {
    background-color: aliceblue;
    /* display: flex; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    font-family: 'Courier New', Courier, monospace;
}

.image {
    display: block;
    width: 35%;
}

/* .mainContainer {
    display: flex;
    flex-direction: row;
} */

.buyButton {
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    
}

.noBuyButton {
    /* cursor: not-allowed; */
    display: none;
}